@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:800px){
    html{
        font-size: 5px;
    }
}

@media screen and (min-width:800px){
    html{
        font-size: 10px;
    }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rebeccapurple;
}

#auto{
    font-size: 2rem;
    color: white;
    font-family: "Poppins", sans-serif;
}