@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@media screen and (max-width:900px) {
    html {
        font-size: 8px;
    }

    .img-container p {
        width: 35rem;
    }
}

@media screen and (min-width:900px) {
    html {
        font-size: 16px;
    }

    .vvTeam {
        float: left;
        width: 42%;
        height: 42rem;
    }

    .text-size {
        width: 25rem;
        margin: auto;
        max-height: 3rem;
        overflow: hidden;
        transition: max-height 1s ease-in;
    }

    .extended-height {
        max-height: 15rem;
    }
}

.vvTeamUL {
    margin-top: 0px;
}

.vvTeamH2 {
    margin-top: 1rem;
    display: relative;
}

.vvTeam {
    list-style: none;
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img-container img {
    height: 25rem;
    width: 25rem;
    border-radius: 50px;
}

.img-container p {
    margin: auto;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    background-color: #ffffff;
}

button:active {
    color: grey;
}

.extraContent {
    display: inline;
}

.show {
    display: none;
}